body {
    font-family: 'Microsoft YaHei';
    background: #f7f7f7;
}

.zl-title {
    width: 100%;
    height: 44px;
    border-bottom: #ebebeb 1px solid;
    line-height: 44px;
    background-color: #ffffff;
}

.zl-title p {
    width: 1184px;
    margin: 0 auto;
    font-size: 16px;
    padding-left: 16px;
    color: #999;
}

.zl-title p a {
    padding-right: 16px;
    font-size: 14px;
}

.zl-title p a:hover {
    color: #cc0000;
    text-decoration: none;
    font-size: 14px;
}

.zl-title p strong {
    color: #333;
    padding-left: 12px;
}

.zl-content {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 20px auto 0px;
}

.zl-contentLeft {
    width: 860px;
    float: left;
}

.zl-contentLeft a.loadMore {
    display: block;
    width: 100%;
    line-height: 40px;
    background: #e9e9e9;
    margin: 24px 0;
    text-align: center;
    font-size: 16px;
}

.zl-contentLeft a.loadMore:hover {
    background-color: #d5d5d5;
}

.zl-contentLeft a:hover {
    text-decoration: none;
}

.zl-banner {
    margin-bottom: 30px;
}

.zl-contentList {
    width: 860px;
    background: #fff;
}

.zl-contentList div {
    padding: 28px 0 30px 0;
    width: 800px;
    margin: 0 30px;
    height: auto;
    overflow: hidden;
    border-bottom: #dfdfdf 1px solid;
}

.zl-contentList div:last-child {
    border-bottom: 0;
}

.zl-contentList div a {
    color: #666;
    font-size: 14px;
}

.zl-contentList div a:hover h3 {
    color: #cc0000;
}

.zl-contentList h3 {
    width: 100%;
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: normal;
    color: #333;
    font-size: 22px;
}

.zl-contentList div a.zl-img {
    width: 225px;
    height: 155px;
    float: left;
    display: block;
}

.zl-contentList img {
    width: 225px;
    height: 155px;
}

.zl-contentList dl {
    float: right;
    width: 550px;
}

.zl-contentList dt {
    line-height: 23px;
    color: #666;
    font-size: 14px;
    height: 116px;
    overflow: hidden;
}

.zl-contentList dt a {
    display: block;
    height: 78px;
    overflow: hidden;
    line-height: 26px;
    color: #666;
}

.zl-contentList dt a:hover {
    color: #333333;
}

.zl-contentList dd {
    font-size: 14px;
    color: #999;
}

.zl-contentList dd span {
    margin-left: 28px;
}

.zl-contentRight {
    width: 300px;
    float: right;
}

.zl-contentRight h3 {
    background: url("../images/icon.png") no-repeat 0 -86px;
    line-height: 24px;
    padding-left: 18px;
    width: 282px;
    font-size: 24px;
    color: #333333;
    font-weight: normal;
}

.zl-contentRight div {
    margin-top: 30px;
    width: 300px;
    height: 90px;
}

.zl-contentRight a.column-a{
    display: block;
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 360px;
    overflow: hidden;
    background: #ccc;
}

.zl-contentRight img {
    width: 90px;
    height: 90px;
    transition: width 0.5s,height 0.5s;
    -moz-transition: width 0.5s,height 0.5s;
    -webkit-transition: width 0.5s , height 0.5s;
    -o-transition: width 0.5s,height 0.5s;
}

.zl-contentRight img:hover {
    width: 103%;
    height: 103%;
}

.zl-contentRight img{
    width: 90px;
    height: 90px;
    border-radius: 360px;
}

.zl-contentRight dl {
    float: right;
    width: 194px;
    height: 90px;
}

.zl-contentRight dt {
    color: #333;
    font-size: 16px;
    line-height: 18px;
    margin: 16px 0 12px;
}

.zl-contentRight dt a {
    color: #333333
}

.zl-contentRight dt a:hover {
    color: #cc0000;
    text-decoration: none
}

.zl-contentRight dt span {
    color: #999;
    font-size: 14px;
    padding-left: 10px;
}

.zl-contentRight dt a:hover span {
    color: #cc0000
}

.zl-contentRight dd {
    line-height: 18px;
    padding-bottom: 16px;
    font-size: 16px;
    color: #666;
    border-bottom: #dfdfdf 1px solid;
}
